.backdrop{
    position: fixed;
    left: 0;
    top: 100;
    width: 200vw;
    height: 200vh;
    z-index: 50;
    background: rgba(0, 0, 0, 0.75);
}

.alert-box-succeed {
    position: fixed;
    top: 30vh;
    left: 20vw;
    width: 60vw;
    padding: 16px;
    z-index: 100;
    background-color: rgba(9, 190, 9, 0.986);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
}
.alert-box-actions {
    text-align: right;
    cursor: pointer;
}