<nz-layout class="app-layout">
  <!-- close popup -->
  <app-alert *ngIf="isCancelled" (close)="onClose()"></app-alert>
  <app-alert-succeed [name]="userName" [roles]="role" *ngIf="isOkayed" (close)="onClose()"></app-alert-succeed>
  <nz-layout>
    <!-- header -->
    <nz-header>
      <div class="app-header">
        <span class="header-trigger">
          <nz-avatar class="header-avatar border-solid border-2 border-gray-700" nz-page-header-avatar [nzSize]="50"
            nzIcon="user"></nz-avatar>
          <i id="trigger" nz-icon [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
            (click)="isCollapsed = !isCollapsed"></i>
        </span>
        <h3 class="header-user">{{userName}}</h3>
        <p class="header-user1">{{role}}</p>
        <div class="header-logo">
          <img src="src\assets\logo\logo.png" alt="start" />
        </div>
      </div>
    </nz-header>
    <!-- inner side , main page -->
    <nz-content>
      <div class="inner-content">
        <!-- form  -->
        <div class="form-main">
          <form nz-form [formGroup]="validateForm" (ngSubmit)="onSubmitForm()">
            <nz-form-item>
              <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="name">Name</nz-form-label>
              <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please enter your name.">
                <input nz-input formControlName="name" id="name" placeholder="Enter Your Name">
              </nz-form-control>
            </nz-form-item>
            <nz-form-item>
              <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="role" nzRequired>Role</nz-form-label>
              <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please input your role!">
                <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Select Your Role" formControlName="role">
                  <nz-option nzLabel="Frontend Developer" nzValue="Frontend Developer"></nz-option>
                  <nz-option nzLabel="Backend Developer" nzValue="Backend Developer"></nz-option>
                  <nz-option nzLabel="Android Developer" nzValue="Android Developer"></nz-option>
                  <nz-option nzLabel="Human Resources" nzValue="Human Resources"></nz-option>
                </nz-select>
                <!-- <input nz-input id="role" formControlName="role" placeholder="Enter Your Role" /> -->
              </nz-form-control>
            </nz-form-item>
            <nz-form-item>
              <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="email">E-mail</nz-form-label>
              <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="The input is not valid E-mail!">
                <input nz-input formControlName="email" id="email" placeholder="Enter Your Email" />
              </nz-form-control>
            </nz-form-item>
            <nz-form-item>
              <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="gender" nzRequired>Gender</nz-form-label>
              <nz-form-control [nzSm]="14" [nzXs]="24">
                <!-- [nzErrorTip]="errorTpl" -->
                <nz-radio-group [(ngModel)]="radioValue" formControlName="gender">
                  <label nz-radio nzValue="Female">Female</label>
                  <label nz-radio nzValue="Male">Male</label>
                  <label nz-radio nzValue="None">Rather not say</label>
                </nz-radio-group>
              </nz-form-control>
            </nz-form-item>
            <nz-form-item>
            </nz-form-item>
            <nz-form-item nz-row class="register-area">
              <nz-form-control [nzSpan]="14" [nzOffset]="6">
                <label nz-checkbox formControlName="agree">
                  <span>
                    I have read the
                    <a>agreement</a>
                  </span>
                </label>
              </nz-form-control>
            </nz-form-item>
            <nz-form-item nz-row class="register-area">
              <nz-form-control [nzSpan]="14" [nzOffset]="6">
                <button nz-button nzType="primary" (click)="onSubmitForm()">ok</button>
                <button class="mx-8" nz-button nzType="default" nzDanger (click)="onReset()">cancel</button>
              </nz-form-control>
            </nz-form-item>
          </form>
        </div>
      </div>
    </nz-content>
  </nz-layout>
  <!-- menu top part  -->
  <nz-sider class="menu-sidebar" nzCollapsible nzWidth="256px" nzBreakpoint="md" [(nzCollapsed)]="isCollapsed"
    [nzTrigger]="null">
    <div class="sidebar-logo">
      <img src="src\assets\logo\logo.png" alt="logo">
      <h1 class="uppercase">first project</h1>
    </div>
    <h2 class="text-blue-50 text-sm text-center">volta control</h2>
    <!-- menu body  -->
    <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
      <li nz-submenu nzOpen nzTitle="pages" nzIcon="apartment" nzTheme="outline">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/welcome">Welcome</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a>Workplace</a>
          </li>
        </ul>
      </li>
      <li nz-submenu nzOpen nzTitle="Form" nzIcon="form">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a>Basic Form</a>
          </li>
        </ul>
      </li>
    </ul>
  </nz-sider>
</nz-layout>